{% include 'header.html' %}
<br>
<h1 style="text-align: center;">Formulario para editar</h1>
<br>
{% for c in cliente %}
<form action="/updateCliente" method="post" class="form-label" style="margin-left: 5%; margin-right: 5%;">
    <input type="hidden" name="idCliente" value="{{ c[0] }}">
    <h5>Nombre</h5>
    <input class="form-control" type="text" name="nombre" value="{{ c[1] }}">
    <br>
    <h5>Apellido Paterno</h5>
    <input class="form-control" type="text" name="apellidoPaterno" value="{{ c[2] }}">
    <br>
    <h5>Apellido Materno</h5>
    <input class="form-control" type="text" name="apellidoMaterno" value="{{ c[3] }}">
    <br>
    <h5>Teléfono</h5>
    <input class="form-control" type="number" name="telefono" min="1" maxlength="10" value="{{ c[4] }}">
    <br>
    <h5>Calle</h5>
    <input class="form-control" type="text" name="calle" value="{{ c[5] }}">
    <br>
    <h5>Colonia</h5>
    <input class="form-control" type="text" name="colonia" value="{{ c[6] }}">
    <br>
    <h5>CP</h5>
    <input class="form-control" type="text" name="cp" maxlength="5" value="{{ c[7] }}">
    <br>
    <h5>Id Hotel</h5>
    <input class="form-control" type="number" min="1" name="idHotel" value="{{ c[8] }}">
    <br>
    <h5>Régimen hotel</h5>
    <input class="form-control" type="text" name="regimenHotel" value="{{ c[9] }}">
    <br>
    <h5>Id Sucursal</h5>
    <input class="form-control" type="number" min="1" name="idSucursal" value="{{ c[10] }}">
    <br>
    <h5>Id Vuelo</h5>
    <input class="form-control" type="number" min="1" name="idVuelo" value="{{ c[11] }}">
    <br>
    <h5>Clase vuelo</h5>
    <input class="form-control" type="text" name="claseVuelo" value="{{ c[12] }}">
    <br>
    <div class="d-grid gap-2">
        <input class="btn btn-outline-primary" type="submit" value="Aceptar">
    </div>
</form>
{% endfor %}
{% include 'footer.html' %}